
ul
  for mech in active_player.mechs
    - console.log(active_mech && active_mech.name, mech.name, (active_mech && (mech.name == active_mech.name)) ? 'active': 'inactive')
    li(class = (active_mech && (mech.name == active_mech.name)) ? 'active': 'inactive')
      .name!= mech.name
      .type!= mech.type
      .remove x
.new
  select(name='type')
    - for (title in MECHS)
      - MECH = MECHS[title]
      option(value=MECH.prototype.NAME)!= MECH.prototype.NAME

  input(name='name', placeholder='new mech')
  button +