ul
  for player in players
    li(class = player == active_player ? 'active': 'inactive')
      .name!= player.name
      .remove x
.new
  input(required=true, name='name', placeholder='new player')
  button +