

extends layout

block content
  link(rel="stylesheet", href="/bower_components/skeleton/stylesheets/skeleton.css")
  link(rel="stylesheet", href="/bower_components/skeleton/stylesheets/layout.css")
  link(rel="stylesheet", href="stylesheets/index.css")

  style

  .container
    .clearfix.parts


    .clearfix.sides.chamfered.sixteen.columns
      .two.columns
        h1 pick side
      .one.columns
        .side LEFT
        .side.active CENTER
        .side RIGHT
        .side REAR

    .clearfix.weapons.sixteen.columns
      .three.columns.energy
        h4 Energy
      .three.columns.ballistic
        h4 Ballistic
      .three.columns.missile
        h4 Missile
      .three.columns.close
        h4 Close Combat
      .three.columns
        button.fire FIRE
  
  footer
    | Concept by Channing Guenther; Programmed by 
    a(href="http://countable.ca", target="_blank") Clark Van Oyen

  script(src="/bower_components/jquery/jquery.js")
  script(src="/javascripts/data.js")
  script(src="/templates.js")
  script(src="/javascripts/game.js")