body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
select {
  appearance: none;
  -webkit-appearance: none;
}
button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #000;
  color: #fff;
}
input,
select {
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 18px;
  padding: 5px;
}
.columns {
  display: inline-block;
}
.fire {
<<<<<<< HEAD
  background-color: #f00;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
=======
  border: 2px solid #f00;
  border-radius: 5px;
  padding: 10px 20px;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
}
.fire:hover {
  background-color: #f00;
  color: #fff;
}
.damage-alert {
  position: absolute;
  font-size: 50px;
  line-height: 40px;
  font-family: "Arial Black";
  z-index: 100;
  color: #f00;
  -webkit-animation: boom 3s;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.damage-alert .crit {
  line-height: 20px;
  font-size: 25px;
}
.parts {
  display: none;
}
.parts .destroyed {
  background-color: #f00;
}
.players,
.mechs {
  margin: 1px;
  padding: 0;
}
.players ul,
.mechs ul {
  padding: 0;
}
.players ul,
.mechs ul,
.players li,
.mechs li {
  margin: 0;
  display: inline-block;
}
.players li,
.mechs li {
  color: #fff;
  background-color: #000;
  margin-right: 1px;
  padding: 10px 30px;
  list-style: none;
  position: relative;
}
.players li .name,
.mechs li .name {
  font-size: 20px;
  cursor: pointer;
}
.players li .type,
.mechs li .type {
  font-size: 13px;
  font-style: italic;
}
.players li .remove,
.mechs li .remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.players .active,
.mechs .active {
  color: #f00;
}
.players .new,
.mechs .new {
  padding-top: 5px;
<<<<<<< HEAD
  float: right;
=======
  display: inline-block;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
}
.players .new button,
.mechs .new button {
  margin: 0;
}
.players .new input,
.mechs .new input {
  width: 150px;
}
<<<<<<< HEAD
=======
.crits {
  float: left;
  width: 300px;
  height: 410px;
}
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
.parts {
  background: url("/images/mech.png") no-repeat;
  position: relative;
  height: 410px;
<<<<<<< HEAD
  width: 700px;
  margin-right: 200px;
  float: left;
}
.parts.dead .part {
  background-color: #aaa;
}
=======
  width: 300px;
  margin-right: 200px;
  float: left;
}
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
.parts .part {
  border: 2px solid #000;
  text-align: center;
  position: absolute;
  background-color: #fff;
  width: 95px;
  height: 95px;
  padding-top: 2px;
  overflow: hidden;
}
.parts .part .armor-wrapper,
.parts .part .structure-wrapper {
  font-size: 0;
}
.parts .part .hp-full,
.parts .part .hp-empty {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  display: inline-block;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
.parts .part .armor-wrapper .hp-full {
  background-color: #37f;
}
.parts .part .armor-wrapper .hp-empty {
  background-color: #fff;
}
.parts .part .structure-wrapper .hp-full {
  background-color: #000;
}
.parts .part .structure-wrapper .hp-empty {
  background-color: #eee;
}
.parts .HEAD {
  top: 0;
  left: 100px;
  border-radius: 50%;
  padding: 20px 10px;
}
.parts .LEFT_ARM,
.parts .RIGHT_ARM {
  top: 65px;
  width: 50px;
  height: 120px;
}
.parts .LEFT_LEG,
.parts .RIGHT_LEG {
  width: 50px;
  height: 130px;
  top: 220px;
}
.parts .LEFT_ARM {
  left: 12px;
  -webkit-transform: rotate(5deg);
}
.parts .RIGHT_ARM {
<<<<<<< HEAD
  left: 240px;
=======
  right: 12px;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  -webkit-transform: rotate(-5deg);
}
.parts .LEFT_LEG {
  left: 65px;
  -webkit-transform: rotate(7deg);
}
.parts .RIGHT_LEG {
<<<<<<< HEAD
  left: 187px;
=======
  right: 65px;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  -webkit-transform: rotate(-7deg);
}
.parts .CENTER_TORSO {
  left: 120px;
  top: 100px;
  width: 60px;
  height: 100px;
}
.parts .LEFT_TORSO {
  left: 72px;
}
.parts .RIGHT_TORSO {
<<<<<<< HEAD
  left: 180px;
=======
  right: 72px;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
}
.parts .LEFT_TORSO,
.parts .RIGHT_TORSO {
  top: 95px;
  width: 50px;
}
.parts .LEFT_TORSO_REAR,
.parts .CENTER_TORSO_REAR,
.parts .RIGHT_TORSO_REAR {
<<<<<<< HEAD
  top: 10px;
=======
  top: 30px;
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  width: 50px;
  height: 50px;
}
.parts .LEFT_TORSO_REAR {
  left: 320px;
}
.parts .CENTER_TORSO_REAR {
  left: 375px;
}
.parts .RIGHT_TORSO_REAR {
  left: 430px;
}
<<<<<<< HEAD
.parts .crit {
  position: absolute;
  width: 150px;
  height: 150px;
}
.parts .crit h5 {
  text-align: center;
}
.parts .crit p {
  font-size: 10px;
}
.parts .crit .destroyed {
  color: #8b0000;
}
.parts .CRIT_LEFT_ARM,
.parts .CRIT_RIGHT_ARM,
.parts .CRIT_HEAD {
  top: 50px;
}
.parts .CRIT_LEFT_TORSO,
.parts .CRIT_CENTER_TORSO,
.parts .CRIT_RIGHT_TORSO {
  top: 200px;
}
.parts .CRIT_LEFT_LEG,
.parts .CRIT_RIGHT_LEG {
  top: 350px;
}
.parts .CRIT_LEFT_ARM,
.parts .CRIT_LEFT_TORSO,
.parts .CRIT_LEFT_LEG {
  left: 350px;
}
.parts .CRIT_RIGHT_ARM,
.parts .CRIT_RIGHT_TORSO,
.parts .CRIT_RIGHT_LEG {
  left: 650px;
}
.parts .CRIT_HEAD,
.parts .CRIT_CENTER_TORSO {
  left: 500px;
}
=======
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
.sides {
  padding: 20px;
}
.sides .side {
  cursor: pointer;
}
.weapons {
  float: left;
}
<<<<<<< HEAD
.weapons button.sub,
.weapons button.add {
  padding: 0 3px;
}
.weapons input {
  padding: 0;
}
=======
>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
.weapon-type {
  float: left;
}
.weapon {
  cursor: pointer;
}
.weapon .damage,
.weapon .heat,
.weapon .count {
  display: inline-block;
  font-size: 18px;
}
.weapon .damage,
.weapon .heat,
.weapon .count {
  width: 25px;
}
.weapon .damage input,
.weapon .heat input,
.weapon .count input {
  display: block;
  width: 100%;
}
.weapon .heat {
  color: #8b0000;
}
.weapon .damage {
  font-weight: bold;
}
.active {
  color: #f00;
}
@-moz-keyframes boom {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
<<<<<<< HEAD
=======

>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@-webkit-keyframes boom {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
<<<<<<< HEAD
=======

>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@-o-keyframes boom {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
<<<<<<< HEAD
=======

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@-ms-keyframes boom {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes boom {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
<<<<<<< HEAD
=======

>>>>>>> 438da4c963442fd141e19f9918d3e8a1d57c71f1
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
