body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
div.chamfered {
    color: white;
    padding: 20px;
    background: #000; /* fallback */
    background:
        -moz-linear-gradient(45deg,  transparent 10px, #000 10px),
        -moz-linear-gradient(135deg, transparent 10px, #000 10px),
        -moz-linear-gradient(225deg, transparent 10px, #000 10px),
        -moz-linear-gradient(315deg, transparent 10px, #000 10px);
    background:
        -o-linear-gradient(45deg,  transparent 10px, #000 10px),
        -o-linear-gradient(135deg, transparent 10px, #000 10px),
        -o-linear-gradient(225deg, transparent 10px, #000 10px),
        -o-linear-gradient(315deg, transparent 10px, #000 10px);
    background:
        -webkit-linear-gradient(45deg,  transparent 10px, #000 10px),
        -webkit-linear-gradient(135deg, transparent 10px, #000 10px),
        -webkit-linear-gradient(225deg, transparent 10px, #000 10px),
        -webkit-linear-gradient(315deg, transparent 10px, #000 10px);
}



div.chamfered {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

